[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emoji"]
	path = emoji
	url = https://github.com/emilhvitfeldt/emoji
[submodule "extrasteps"]
	path = extrasteps
	url = https://github.com/emilhvitfeldt/extrasteps
[submodule "fastTextR"]
	path = fastTextR
	url = https://github.com/emilhvitfeldt/fasttextr
[submodule "friends"]
	path = friends
	url = https://github.com/emilhvitfeldt/friends
[submodule "ggpage"]
	path = ggpage
	url = https://github.com/emilhvitfeldt/ggpage
[submodule "hcandersenr"]
	path = hcandersenr
	url = https://github.com/emilhvitfeldt/hcandersenr
[submodule "lime"]
	path = lime
	url = https://github.com/emilhvitfeldt/lime
[submodule "paletteer"]
	path = paletteer
	url = https://github.com/emilhvitfeldt/paletteer
[submodule "prismatic"]
	path = prismatic
	url = https://github.com/emilhvitfeldt/prismatic
[submodule "textdata"]
	path = textdata
	url = https://github.com/emilhvitfeldt/textdata
[submodule "walmartAPI"]
	path = walmartAPI
	url = https://github.com/emilhvitfeldt/walmartapi
[submodule "wordsalad"]
	path = wordsalad
	url = https://github.com/emilhvitfeldt/wordsalad
